<%# <% debugger %> %>
<div class="mt-16 p-2 bg-gray-50">
  <h1 class="font-black text-6xl mt-4 mb-8 pl-4">Users</h1>
  <% unless flash.notice.blank? %>
    <p class="mx-2 p-4 rounded-md bg-green-600 text-white text-sm text-center">
      <%= flash.notice %>
    </p>
  <% end %>
  <% @users.each do |u| %>
    <div class="border border-gray-200 rounded-md my-4 p-4 flex justify-between bg-white shadow-md mx-2">
      <div class="flex flex-col">
        <div class="font-bold text-xl mb-2"><%= u.name %></div>
        <div class="text-sm text-gray-600 mb-1"><%= u.email %></div>
        <div class="text-xs uppercase text-gray-400">
          <% if u.last_signed_in_at %>
            Signed in <%= time_ago_in_words(u.last_signed_in_at) %> ago
          <% else %>
            Never signed in
          <% end %>
        </div>
      </div>
      <div class="flex flex-col justify-center">
        <% if u.admin? %>
            <span class="text-gray-400">Admin </span>
        <% else %>
          <%= link_to edit_user_path(u.id) do %>
            <div class="rounded-md py-2 px-4 border border-blue-300 bg-blue-100 hover:border-blue-600 hover:bg-blue-500 hover:text-white">
              Edit
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
