<!DOCTYPE html>
<html>
  <head>
    <title>Postcard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />

    <script src="https://kit.fontawesome.com/f083ee5e23.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="service-worker">
    <script>
      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>);
    </script>

    <main class="w-screen h-screen flex flex-col text-slate-700 bg-slate-50">
      <%= render 'nav/nav' %>
      <%= yield %>
    </main>
  </body>
</html>
